<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "Home/base.html" %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block <css> %}
        <link rel="stylesheet" href="{% static 'Home/about.css' %}">
    {% endblock %}
    
    {% block <pageTitle> %}
        <title>About</title> 
    {% endblock %}
</head>

<body class="bg">
    
    
    {% block <block> %}
        
        <!-- Background image: Only display when max-width >=  -->
                
                <a href="{% url 'Home:home' %}"><img class="img-fluid" src="{% static 'Home/img/banner.png' %}" alt="It's a Picture of Me Ash"></a>
                
                {% comment %} <div class="overlay-text">
                    <p class="lead text-white">Hello, I'm Ash!</p>
                </div> {% endcomment %}
        <!-- Background image -->

    {% endblock %}

</body>
</html>