<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "Home/base.html" %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block <css> %}
        <link rel="stylesheet" href="{% static 'Home/home.css' %}">
    {% endblock %}

    {% block <pageTitle> %}
      <title>Home</title> 
    {% endblock %}

</head>

<body>
    
    
    {% block <block> %}

      <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!--Intro Jumbo-->
                    <div class="jumbotron-fluid my-4 text-white bg-dark rounded p-3 " id="About">
                        <h1 class="lead one">A Snippet on Me</h3>
                        <hr>
                        <h3 class="display-4 two">Hi, I'm Ashish Ramnath - Software Developer</h3>
                        <h3 class="display-4 three">You can call me Ash</h3>
                        
                        <br>
                        <p class="lead four">
                        I am a Final year BSc Computer Science Student @ University of South Africa.
                        <br>
                        This website serves as a means to Contact me, Access and view some of my work on Github, and actively participate in my Blog.
                        <br>
                        You will also get a look at some of the Development services I offer.
                        </p>

                        <br>
                        <a href="https://www.youtube.com/@thepowerfulprogrammer/videos" class="btn btn-outline-success btn-lg my-3 contact-link" target="_blank">Join the darkside</a>


                        <blockquote class="blockquote mt-2">
                        <p class="mb-2">A program is never less than 90% complete, and never more than 95% complete.</p>
                        <footer class="blockquote-footer">Coder <cite title="Terry Baker">Terry Baker</cite></footer>
                        </blockquote>

                    </div>

                </div>

            </div>


            {% comment %} <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img class="img-fluid mx-auto d-block" src="{% static 'Home/img/berserkSymbol.png' %}" alt="My Image">
                </div>
            </div> {% endcomment %}



            <div class="col-md-12 col-sm-12">
              <footer class="bg text-center my-4">
                <!-- Copyright -->
                <div class="text-center" >
                  <p class="footer-text">© <span id="year">--</span> Copyright: Ashish Ramnath</p>
                  <script>
                    document.getElementById('year').innerHTML = new Date().getFullYear();
                  </script>
                </div>
                <!-- Copyright -->
              </footer>

            </div>
            
        </div>

    



    {% endblock %}

</body>
</html>