{% extends "Home/base.html" %}
{% load static %}

{% block <pageTitle> %}
    <title>Blog Index</title>
{% endblock %}

{% block <css> %}
    <link rel="stylesheet" href="{% static 'Home/blogIndex.css' %}">
{% endblock %}

{% block <block> %}

    {% if latest_post_list %} 
        <ul>
            {% for post in latest_post_list %} 
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                                        
                            <div class="card bg-dark my-3">
                                <div class="card-body">
                                    <h3 class=""> <a href="{% url 'Blog:detail' post.id %}" class=""> {{ post.title }}</a></h2>
                                    <small>
                                        {{post.created_on.date}} | Categories:
                                        {% for category in post.categories.all %} 
                                    
                                            <a href="{% url 'Blog:category' category.name %}">
                                                {{category.name}}
                                            </a>
                                        {% endfor %}
                                        
                                    </small>
                                    <p>{{ post.body | slice:"100"}}...</p>

                                    
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>NO posts avaliable </p>
    {% endif %}

{% endblock %}