{%extends 'layout.html' %}
{%block body %}

<h1 class='text-center'>My workout plan: Powerlifting strength program</h1>

<div class="container my-5">
	<h1 class="display-2">Important details:</h1>
	<p>To train the muscles and nervous system to produce more force</p>
	<p>Thus build strength</p>
	<p>No early need to peak</p>
	<br>
	<hr>
	<p>Best SFR movements </p>
	<p>At least 4 sessions a week</p>
	<p>Heavy deadlifts 1x But Posterior chain work 2x</p>
	<p>Allow for systemic fatigue to come down</p>
	<p>Try planning similar hypertrophy and Powerlifting</p>
	<p>Ensure heavy loading for reps between 3-6</p>
	<p>Positions to produce max force</p>
	<p>Practice similar movement patterns</p>
	<p>Ensure you include comp lifts</p>
	<p>Movements that work your weak points: Rounding in Squat => Good Mornings</p>
</div>

<div class='container'>
	<h2 class="display-2">Program</h2>
	<div class="Program ">
		<p>Main: Bench Press => 8@7, 6@7, 4@8x3 <p>
		<p>Secondary: OHP => 6@5, 5@6, 3@5, 5@7</p>
	</div>
</div>

{% endblock%}
