<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "Home/base.html" %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block <css> %}
        <link rel="stylesheet" href="{% static 'Home/servicesIndex.css' %}">
    {% endblock %}
    
    {% block <pageTitle> %}
        <title>Services</title> 
    {% endblock %}
</head>

<body>
    {% block <block> %}
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card bg-dark mt-5 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                    </div>

                    <div class="card bg-dark mt-5 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                    </div>


                    <div class="card bg-dark mt-5 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                    </div>

                    <div class="card bg-dark mt-5 mb-4 text-white">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</body>
</html>